<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button (click)="hideList()">Hide List</button>
    <button (click)="showList()">Show List</button>
    <app-vid-game *ngIf="show"></app-vid-game>
    <!--As soon as the component is no longer showed on the app (gets destroyed) the OnDestroy hook executes-->
    <h2>{{ title }}</h2>
    <hr />
    <app-shoe></app-shoe>
  </body>
</html>
