<h2>{{ title }}</h2>
<button (click)="setTitle()">Set Title</button>
<br />
<!--Two-Way Data Binding example-->
<label for="nwBrand">Add a brand: </label>
<input type="text" [(ngModel)]="nwBrand" />
<button (click)="addBrand()">Add Brand</button>
<p>{{ nwBrand }}</p>

<h2>Our Brands:</h2>
<ul *ngFor="let brand of brands">
  <li>{{ brand }}</li>
</ul>

<div>
  <ul *ngFor="let shoe of shoes">
    <li>
      <h3>Model: {{ shoe.model }}</h3>
      <p>Brand: {{ shoe.brand }}</p>
      <p>Color: {{ shoe.color }}</p>
      <p>Price: {{ shoe.price }}</p>
      <span
        *ngIf="shoe.price < 30"
        [style.background]="shoe.price < 25 ? 'green' : 'blue'"
        >!Special Offer</span
      >
      <p>Stock: {{ shoe.onStock }}</p>
    </li>
  </ul>
</div>

<p>Color:</p>

<ul [ngSwitch]="color">
  <li *ngSwitchCase="'black'" [ngStyle]="{ background: color }">
    Color is black
  </li>
  <li *ngSwitchCase="'red'" [ngStyle]="{ background: color }">
    Color is red
  </li>
  <li *ngSwitchCase="'yellow'" [ngStyle]="{ background: color }">
    Color is yellow
  </li>
  <li *ngSwitchCase="'brown'" [ngStyle]="{ background: color }">
    Color is brown
  </li>
</ul>
